header #cafeteria {
  font-size: 30px;
  margin-left: 3rem;
  color: #d1b591; }

header #tnav {
  color: #d1b591; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: radial-gradient(circle, #633006 0%, black 75%); }
  footer ul {
    list-style: none;
    padding-top: 15px; }
    footer ul li {
      list-style: none;
      padding-top: 15px; }
      footer ul li a {
        color: #d1b591;
        padding: 0 15px; }
        footer ul li a:hover {
          color: rgba(163, 142, 114, 0.767); }

header #nbar {
  background: radial-gradient(circle, #633006 0%, black 75%); }

header #tnav {
  color: #d1b591; }

#pdest {
  text-align: center;
  color: #d1b591; }

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

/* Main: background general 
 Formato general de las tarjetas */
main {
  background: radial-gradient(circle, #633006 0%, black 75%); }
  main #caja {
    border-radius: 0.3rem;
    border: 1px solid #d1b591;
    background: linear-gradient(180deg, rgba(153, 74, 10, 0.295) 0%, rgba(34, 17, 3, 0.986) 40%); }
    main #caja #texto {
      color: #d1b591; }
    main #caja #ipdes {
      border-radius: 0.3rem; }

#serviciosb {
  color: #d1b591;
  text-align: center;
  font-size: 40px; }

#tnav {
  color: #d1b591; }

#contact {
  color: #d1b591;
  background: radial-gradient(circle, rgba(153, 74, 10, 0.623) 0%, rgba(34, 17, 3, 0) 100%); }

.btn, .btn-enviar, .btn-cancelar, .btn-limpiar {
  border: none;
  background-color: white;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.btn-enviar {
  background-color: #a04f0c;
  color: #d1b591; }

.btn-cancelar {
  background-color: #682f09;
  color: #d1b591; }

.btn-limpiar {
  background-color: #682f09;
  color: #d1b591; }

#mapcaja {
  display: flex;
  justify-content: center;
  align-items: center; }
  #mapcaja #map {
    height: 350px;
    width: 600px; }

@media screen and (max-width: 992px) {
  height: auto !important;
  width: auto !important; }

.nprod {
  color: #d1b591;
  text-align: center;
  font-size: 40px; }

#tnav {
  color: #d1b591; }

.map_info {
  color: #8b765b; }

.map_enviosc {
  color: #8b5917; }

.map_za {
  color: #6b4b20; }

.map_aten {
  color: #412d13; }

.enviosm .row {
  padding: 25px 25px;
  text-align: center; }
  .enviosm .row p {
    color: #d1b591; }
