header{
    #cafeteria{
        font-size: 30px;
        margin-left: 3rem;
        color: rgb(209, 181, 145);
    }
    #tnav{
        color: rgb(209, 181, 145);
    }
    #nbar {
        background: radial-gradient(circle, rgb(99, 48, 6) 0%, rgb(0, 0, 0) 75%);
    }
}
